body{
    margin: 0;
}

header{
    width: 100%;
    height: 72px;
    background:#F3F5FC;
}

header img{
    margin-top: 12px;    
    margin-left: 84px;
}

.container {
    display: flex; 
    height: calc(90vh);
    margin: 0;
}

.esquerda {
    background:#F3F5FC;
    width: 70vw;
    height: 100vh;
}

.controle {
    margin-top: 2vh;
    margin-left: 15vw;    
}

.controle button{
    border-radius: 5px;
    border: 0;
    width: 20vw;
    height: 10vh;
    background: #0A3871;
    color: #F3F5FC;
}

.controle button:hover{
    background: #356EA9;
}

#inputTexto {
    margin-top: 2vh;
    margin-left: 15vw;
    width: 40vw; 
    height: 50vh;
    padding: 10px;
    background: #F3F5FC;
    border-radius: 10px;
    border: 0;
}

#inputTexto:hover{
    background: #E9ECF8;
}

#inputTexto:focus{
    outline:none;
}



.direita {
    background:#F3F5FC;
    width: 30vw;
    height: 100vh;
    
}

#displayTexto {
    margin: auto;
    margin-top: 2vh;
    
    width: 20vw;
    height: 50vh;
    
    background:#E9ECF8;
    border-radius: 10px;
    border: 0;
    padding: 10px;

    word-wrap: break-word;

}

.btn {
    border-radius: 5px;
    border: 0;
    margin-left: 5vw;
    margin-top: 2vh;
    width: 20vw;
    height: 10vh;
    background: #0A3871;
    color: #F3F5FC;
}

.btn:hover{
    background: #356EA9;
}

